$color_1: var(--white);
$background-color_1: var(--primary-dark-4);
$mint-color: var(--mint);

.section_3 {
  display: flex;
  border-radius: 8px;
  margin-bottom: 50px;
  overflow: hidden;

    max-height: 62rem!important;
}
.section_3_left {
  padding: 30px 0 30px 30px;
  color: $color_1;
  background-color: $background-color_1;
  position: relative;
  z-index: 1;
  width: 62%;
}
.section_3_left_header {
  h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  h1 {
    font-size: 70px;
    margin-bottom: 20px;
    line-height: 100%;
    font-weight: 400;
    letter-spacing: -0.2rem;
    font{
      color: $mint-color;
    }
  }
  span {
    font-size: 18px;
    font-weight: 500;
  }
}
.section_3_left_details {
  //border-top: 1px solid var(--white);
  div {
    margin-top: 25px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    img {
      margin-right: 10px;
    }
  }
}
.section_left_btn {
  padding-top: 25px;
  button {
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.6px;
    padding: 12px 29px;
    font-weight: 500;
  }
}
.section_3_right {
  width: 38%;
  height: 100%;
  img {
    object-fit: cover;
    margin-bottom: -1px;
    margin-bottom: -1px;
    position: relative;
    right: 106px;
    top: 1px;
    max-width: 149%;
  }
}
